<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StartOnLogin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TestBed.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Youcrypt Mac alpha.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>256C355A158EA75F00E2BEC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>256C357B158EA75F00E2BEC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0BF0E991596D01F002F9FB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E66988A9159D365C002323AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
