gitignore
config.h*
config.status
encfs.spec
encfs/*.lo
encfs/encfs
encfs/encfs.1
encfs/encfsctl
encfs/encfsctl.1
encfs/libencfs.la
encfs/makeKey
encfs/openssl.lo
encfs/readpassphrase.lo
encfs/test
encfs/encfsTestBed
libtool
makedist2.sh
po/POTFILES
stamp-h1
po/Makefile.in
