gitignore
config.h
config.status
encfs.spec
encfs/BlockFileIO.lo
encfs/BlockNameIO.lo
encfs/Cipher.lo
encfs/CipherFileIO.lo
encfs/CipherKey.lo
encfs/ConfigReader.lo
encfs/ConfigVar.lo
encfs/Context.lo
encfs/DirNode.lo
encfs/FileIO.lo
encfs/FileNode.lo
encfs/FileUtils.lo
encfs/Interface.lo
encfs/MACFileIO.lo
encfs/MemoryPool.lo
encfs/NameIO.lo
encfs/NullCipher.lo
encfs/NullNameIO.lo
encfs/RawFileIO.lo
encfs/SSL_Cipher.lo
encfs/StreamNameIO.lo
encfs/autosprintf.lo
encfs/base64.lo
encfs/encfs
encfs/encfs.1
encfs/encfsctl
encfs/encfsctl.1
encfs/libencfs.la
encfs/makeKey
encfs/openssl.lo
encfs/readpassphrase.lo
encfs/test
libtool
makedist2.sh
po/POTFILES
stamp-h1
